<div class="post-details" id="{{id}}">
    <form>
        <input type="text" class="" id="{{id}}" name="edit-title" value="{{title}}">
        <br>
        <textarea class="my-text-area" name="edit-text" id="" cols="100" rows="10">{{blog_text}}</textarea>
        <br>
        <button type="submit">Update</button>
        <p>Created: {{format_date created_at}}</p>

    </form>
</div>
<script src="/javascript/edit.js"></script>